name: Auto Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.UPDATER }}
          # otherwise, you will failed to push refs to dest repo
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r ./ci/envs/requirements-updater.txt

      - name: Auto Checking Update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python ./ci/src/updater.py ${{ secrets.DISCORD_WEBHOOK }}

      - name: Merge Manifest
        run: |
          python ./ci/src/merge-manifest.py

      - name: Commit & Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "auto updated plugins"
          push_options: --force
          branch: plugin_api_v2
